<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.desarrolloii.inventario">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.INTERNAL_SYSTEM_WINDOW"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher_trusot"
        android:label="Inventarios Almacén"
        android:largeHeap="true"
        android:logo="@mipmap/ic_launcher_trusot"
        android:roundIcon="@mipmap/ic_launcher_trusot_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">
        <activity android:name=".ConteoInventario"></activity>
        <activity android:name=".MostrarDetalleProductos" />
        <activity android:name=".ProcesoEmplaye" />
        <activity
            android:name=".VerificadorPedidos"
            android:parentActivityName=".VerificadorPedidos" />

        <service android:name=".PhotoTakingService" />

        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:enabled="true"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".PandP"
            android:enabled="true"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Inicial"
            android:enabled="true"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".principal"
            android:enabled="true"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Registro"
            android:enabled="true"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".principal" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".EnviaPedido" />
    </application>

</manifest>